/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
Device Lab colours

$orange: #d06218;
$lighter-orange: #ed9961;
$darker-orange: #75370d;

$blue: #126b8e;
$dark-blue: #04161d;

*/
body {
  /*text-align: center;*/
  padding: 2em; }

iframe {
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: solid 1px #333;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  -moz-transform-origin: top left;
  transform-origin: top left; }

.icon {
  line-height: 0;
  font-size: 40em; }

.device {
  float: left;
  width: 30em;
  position: relative; }

.slideshow {
  padding-top: 5%;
  height: 35em;
  overflow: hidden; }

.slideshow iframe {
  position: absolute;
  top: 7%;
  left: 2.8em;
  width: 100em;
  height: 60.0em;
  /* actual / projected = 31 / 100 = 0.31 */
  -webkit-transform: scale(0.17);
  -o-transform: scale(0.17);
  -ms-transform: scale(0.17);
  -moz-transform: scale(0.17);
  transform: scale(0.17); }

.cell {
  height: 35em;
  overflow: hidden; }

.cell iframe {
  position: relative;
  /*
    with font-size: 10em;
    width: 2em;
    height: 2em;
    aspect ratio: 1
  */
  width: 15em;
  height: 15em;
  /* actual / projected = 2 / 15 = 0.133333333 */
  -webkit-transform: scale(0.13333);
  -o-transform: scale(0.13333);
  -ms-transform: scale(0.13333);
  -moz-transform: scale(0.13333);
  transform: scale(0.13333);
  /* now position it */
  top: 10.7em;
  left: -2.8em; }

.ipad-mini {
  padding-top: 2em;
  height: 10em;
  overflow: hidden; }

.ipad-mini iframe {
  position: relative;
  /*
    with font-size: 20em;
    width: 7em;
    height: 9em;
    aspect ratio: 0.777777778
  */
  width: 48em;
  height: 64em;
  /* actual / projected = 7 / 48 =  */
  -webkit-transform: scale(0.14583);
  -o-transform: scale(0.14583);
  -ms-transform: scale(0.14583);
  -moz-transform: scale(0.14583);
  transform: scale(0.14583);
  /* now position it */
  top: -11.3em;
  left: 0.7em; }

/*
 * Shifticons (shifticons.com)
 * Order #1812
*/
@font-face {
  font-family: "Shifticons";
  src: url("../fonts/shifticons.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/shifticons.eot?#iefix") format("embedded-opentype"), url("../fonts/shifticons.woff") format("woff"), url("../fonts/shifticons.ttf") format("truetype"), url("../fonts/shifticons.svg#Shifticons") format("svg");
  /* Legacy iOS */ }

/* Shifticon styles */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: Shifticons;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: inherit;
  /*padding-right: .25em;*/
  -webkit-font-smoothing: antialiased; }

/* IE8 hack */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
