@mixin padding-and-height($icon-font-size, $padding-top, $height) {
  padding-top: #{$icon-font-size/$padding-top}em;
  height: #{$icon-font-size/$height}em;
}

@mixin iframe-positioning($icon-font-size, $top, $left) {
  top: #{$icon-font-size/$top}em;
  left: #{$icon-font-size/$left}em;
}

@mixin area-and-transforms(
  $width,
  $original-width,
  $original-height)
{
  width: #{$width}em;
  height: #{$width / ( $original-width / $original-height )}em;
  $scale: $original-width * $icon-font-size / $width;
  @include transform-scale($scale);
}

@mixin transform-scale($scale) {
  -webkit-transform: scale($scale);
  -o-transform: scale($scale);
  -ms-transform: scale($scale);
  -moz-transform: scale($scale);
  transform: scale($scale);
}

@mixin transform-scaleXY($scaleX, $scaleY) {
  -webkit-transform: scale($scaleX, $scaleY);
  -o-transform: scale($scaleX, $scaleY);
  -ms-transform: scale($scaleX, $scaleY);
  -moz-transform: scale($scaleX, $scaleY);
  transform: scale($scaleX, $scaleY);
}

@mixin rotateY($perspective, $rotation) {
  -webkit-transform: perspective($perspective) rotateY($rotation);
  -o-transform: perspective($perspective) rotateY($rotation);
  -ms-transform: perspective($perspective) rotateY($rotation);
  -moz-transform: perspective($perspective) rotateY($rotation);
  transform: perspective($perspective) rotateY($rotation);
}