/*
Device Lab colours

$orange: #d06218;
$lighter-orange: #ed9961;
$darker-orange: #75370d;

$blue: #126b8e;
$dark-blue: #04161d;

*/

/*
Future Friendly
*/

$ff-red: #a42b22;
$ff-blue: #0699cc;
$ff-grey: #c1c1c1;
$ff-cream: #f2f2f2;
$ff-green: #007C59;

$grey: #333;

$device-width: 40;
$icon-font-size: 40;

$slideshow-icon-font-size: 40;
$cell-icon-font-size: 40;
$ipad-mini-icon-font-size: 40;
$computer-icon-font-size: 25;
$blackberry-icon-font-size: 20;
$laptop-icon-font-size: 40;

$slideshow-original-width: 0.425; // * $slideshow-icon-font-size;
$slideshow-original-height: 0.255; // * $slideshow-icon-font-size;
$slideshow-width: 150;

$cell-original-width: 0.2; // * $icon-font-size;
$cell-original-height: 0.2; // * $icon-font-size;
$cell-width: 15;

$ipad-mini-original-width: 0.3225; // * $icon-font-size;
$ipad-mini-original-height: 0.39; // * $icon-font-size;
$ipad-mini-width: 48;

$computer-original-width: 0.595; // * $icon-font-size;
$computer-original-height: 0.445; // * $icon-font-size;
$computer-width: 46;

$blackberry-original-width: 0.63; // * $icon-font-size;
$blackberry-original-height: 0.37; // * $icon-font-size;
$blackberry-width: 19;

$laptop-original-width: 0.47; // * $icon-font-size;
$laptop-original-height: 0.297; // * $icon-font-size;
$laptop-width: 103;

$stretch-a-bit: 1.1;
$stretch-a-lot: 1.3;
